<div class="h-11 bg-purple-600"></div>
<div class="bd-purple-600">
  <header class="bd-purple">
    <nav>
      <a href="">
        <img src="" alt="">
      </a>
      <div>

      </div>
      <ul class="flex">
        <li>test 1</li>
        <li>test 1</li>
        <li>test 1</li>
        <li>test 1</li>
      </ul>
    </nav>
  </header>
</div>