<div class="h-11 bg-purple-600"></div>
<div class="bg-purple-600">
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic, asperiores. Esse laborum ut quia assumenda accusantium libero, dolor cupiditate doloremque! Itaque quos totam ducimus numquam perspiciatis, quod mollitia fugiat voluptatem.
</div>